$base-color: #002a8f;
$second-color: #ffffff;
$third-color: #cf142b;
$font-color-dark: #333;
$font-color-light: #fff;
$shadows: #000;
$primary-font: "Lato", sans-serif;
$secondary-font: "Maven Pro", sans-serif;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  color: $font-color-dark;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.section-title {
  h1 {
    padding-top: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }
}
