
/*#Buttons*/
.button {
  display: inline-block;
  background: rgba($third-color, $alpha: 1.0);
  color: $font-color-light;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1em 1.5em;
  border: 0.5px solid $font-color-dark;
  border-radius: 10px;
  box-shadow: 2px 2px 8px $shadows;
  margin: 1em 0;
  text-shadow: 0px 3px 5px $shadows;
}
.button:hover{
  background: rgba($base-color, $alpha: 1.0);
  transition: 1000ms;
}

/*#Top-Navigation-Bar*/
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 5px $shadows;
  background-color: $base-color;
  //background-color: rgba($base-color, 0.6);
  .nav-checkbox {
    display: none;
  }
  .nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;

    svg {
      fill: $font-color-light;
    }
    .menu {
      margin-top: 1.6rem;
    }
    .close {
      display: none;
      margin-top: 1.6rem;
    }
  }
}

.nav-menu {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
  align-items: center;

  li {
    display: none;
    border-radius: 5px;
  }
  li:first-child {
    margin-right: auto;
    display: block;
  }
  li:last-child {
    padding-bottom: 1rem;
  }
  a {
    color: $font-color-light;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    padding: 7px 10px;
  }
 
}
.nav-menu li:hover:not(:first-child , :last-child), #footer li:hover{
  background-color: rgba($third-color, $alpha: 1.0);
  transition: 1000ms;
}
#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

/*#Footer*/
#footer {
  width: 100%;
  position: static;
  bottom: 0;
  margin-top: 1em;
  padding-bottom: 0;
  background-color: $base-color;
  color: #fff;
  box-shadow: 0 -2px 5px $shadows;
}

#footer h2,
#footer a {
  padding: 10px;
  margin: 0;
  text-decoration: none;
}
#footer p {
  padding: 0;
  margin: 0;
}
#footer .sns-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}
#footer .footer-links {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  li{
    border-radius: 5px;
  }
  a{
    color: $font-color-light;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    padding: 0px 10px;
  }
}


@media only screen and (min-width: 1024px) {
  /*#Top-Navigation-Bar*/

  nav .nav-toggle {
    display: none;
  }
  .nav-menu {
    flex-direction: row;
    padding: 0 150px;
  }
  .nav-menu li {
    display: block;
  }
  .nav-menu li:last-child {
    padding-bottom: 0;
  }
  
  

}
