*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section-title h1 {
  padding-top: 20px;
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.section-title p {
  font-size: 24px;
}

.section-title .quote {
  font-style: italic;
  font-family: "Maven Pro", sans-serif;
  padding: 10px 15px;
}

/*#Buttons*/
.button {
  display: inline-block;
  background: #cf142b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 1em 1.5em;
  border: 0.5px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px #000;
          box-shadow: 2px 2px 8px #000;
  margin: 1em 0;
  text-shadow: 0px 3px 5px #000;
}

.button:hover {
  background: #002a8f;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

/*#Top-Navigation-Bar*/
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  background-color: #002a8f;
}

.nav .nav-checkbox {
  display: none;
}

.nav .nav-toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav .nav-toggle svg {
  fill: #fff;
}

.nav .nav-toggle .menu {
  margin-top: 1.6rem;
}

.nav .nav-toggle .close {
  display: none;
  margin-top: 1.6rem;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu li {
  display: none;
  border-radius: 5px;
}

.nav-menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav-menu li:last-child {
  padding-bottom: 1rem;
}

.nav-menu a {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  padding: 7px 10px;
}

.nav-menu li:hover:not(:first-child), #footer li:hover {
  background-color: #cf142b;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

/*#Footer*/
#footer {
  width: 100%;
  position: static;
  bottom: 0;
  margin-top: 1em;
  padding-bottom: 0;
  background-color: #002a8f;
  color: #fff;
  -webkit-box-shadow: 0 -2px 5px #000;
          box-shadow: 0 -2px 5px #000;
}

#footer h2,
#footer a {
  padding: 10px;
  margin: 0;
  text-decoration: none;
}

#footer p {
  padding: 0;
  margin: 0;
}

#footer .sns-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
}

#footer .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

#footer .footer-links li {
  border-radius: 5px;
}

#footer .footer-links a {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  padding: 0px 10px;
}

@media only screen and (min-width: 1024px) {
  /*#Top-Navigation-Bar*/
  nav .nav-toggle {
    display: none;
  }
  .nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 150px;
  }
  .nav-menu li {
    display: block;
  }
  .nav-menu li:last-child {
    padding-bottom: 0;
  }
  /*#Footer*/
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
  }
  #footer .footer-logo {
    width: 180px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  #section-aulas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #section-aulas li {
    width: 45%;
  }
  #section-contact .contact-grid .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-contact .contact-grid .location-text {
    font-size: 24px;
    line-height: 40px;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
  }
  #footer .footer-logo {
    width: 200px;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (minmax(auto, 35em))[2] 1fr;
        grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;
  }
  .content-wrapper,
  .section-title,
  #section-aulas ul,
  #section-horarios .week-table,
  #section-horarios a,
  #section-contact .contact-grid {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  #section-aulas {
    min-height: 80vh;
  }
  #section-aulas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #section-aulas li {
    width: 33%;
  }
  #section-horarios .week-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #section-horarios .daycard {
    width: 24%;
    padding: 0;
    margin: 10px 5px;
  }
  #section-horarios a {
    width: 30%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #section-quote h1 {
    font-size: 42px;
    padding: 20px 25px;
  }
  #section-quote h3 {
    font-size: 24px;
  }
  #section-contact .contact-grid {
    max-height: 50vh;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #section-contact .contact-grid .location,
  #section-contact .contact-grid .contact-info {
    width: 45%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #section-contact .contact-grid .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section-contact .contact-grid .location iframe {
    height: 80%;
    margin-left: 15px;
    -webkit-box-shadow: 0px 1px 5px #000;
            box-shadow: 0px 1px 5px #000;
  }
  #section-contact .contact-grid .location .location-text {
    padding: 20px;
    font-size: 20px;
  }
}

#section-main {
  min-height: 100vh;
  margin-top: 80px;
}

.bg-img {
  position: absolute;
  background: #333 url("/img/main.jpg");
  background-position: 45% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.content-wrapper {
  padding: 0 50px;
}

.content-wrapper .content-title {
  padding-top: 260px;
  padding-bottom: 0;
  font-size: 42px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

@media only screen and (min-width: 700px) {
  .content-wrapper {
    padding: 0 50px;
  }
  .content-wrapper .content-title {
    padding-top: 280px;
    font-size: 60px;
  }
}

.aulas {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aulas li {
  padding: 10px 10px 0;
}

.aulas li .card {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px #000;
          box-shadow: 0px 3px 5px #000;
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aulas li .card a {
  padding: 30px;
  font-size: 26px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
}

.aulas li .card a:hover {
  text-decoration: underline;
  -webkit-transition: 2000ms;
  transition: 2000ms;
}

.aulas .salsa-card {
  background-image: url(/img/aulas-cards/salsa.jpeg);
}

.aulas .footwork-card {
  background-image: url(/img/aulas-cards/footwork.jpg);
}

.aulas .kizomba-card {
  background-image: url(/img/aulas-cards/kizomba.jpg);
}

.aulas .rueda-card {
  background-image: url(/img/aulas-cards/rueda.jpg);
}

.aulas .aulas-privadas-card {
  background-image: url(/img/aulas-cards/aulas-privadas.jpg);
}

.aulas .noivos-card {
  background-image: url(/img/aulas-cards/noivos.jpg);
}

.daycard {
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  background-color: rgba(255, 255, 255, 0.8);
}

.daycard .day-style {
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 42, 143, 0.9);
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.daycard .hour-style {
  font-size: 24px;
  color: #fff;
  background-color: #cf142b;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
}

.daycard .aula-style {
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  text-shadow: 0px 0.5px 1px #000;
  height: 80px;
  line-height: 80px;
}

#section-contact {
  padding: 0 10px;
  margin-bottom: 25px;
}

.location {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 2px 5px #000;
          box-shadow: 0px 2px 5px #000;
}

.location .location-text {
  font-size: 18px;
}

.location iframe {
  margin: 10px;
  border-radius: 5px;
}

.contact-info {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px #000;
          box-shadow: 0px 2px 5px #000;
}

.contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-info ul li {
  margin-bottom: 20px;
}

.contact-info ul h4 {
  font-size: 24px;
  -webkit-text-decoration: underline 0.5px;
          text-decoration: underline 0.5px;
}

.contact-info ul p {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

.contact-info ul #phone {
  font-size: 20px;
}

.contact-info .sns-icons a {
  padding: 0px 5px;
}

#section-quote {
  margin-top: 25px;
  height: 250px;
}

#section-quote h1 {
  font-style: italic;
  font-weight: lighter;
  color: #fff;
  padding-top: 70px;
  text-shadow: 1px 1px 5px #000;
}

#section-quote h3 {
  color: #fff;
  padding-top: 15px;
}

.quote-box {
  height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.quote-bg-img {
  position: absolute;
  background-image: url("/img/quote-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  z-index: -2;
}
/*# sourceMappingURL=style.css.map */