*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*#Buttons*/
.button {
  display: inline-block;
  background: #cf142b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px #000;
          box-shadow: 2px 2px 8px #000;
  margin: 1em 0;
  text-shadow: 0px 3px 5px #000;
}

/*#Top-Navigation-Bar*/
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #002a8f;
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  background-color: #002a8f;
}

.nav .nav-checkbox {
  display: none;
}

.nav .nav-toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav .nav-toggle svg {
  fill: #fff;
}

.nav .nav-toggle .menu {
  margin-top: 1.6rem;
}

.nav .nav-toggle .close {
  display: none;
  margin-top: 1.6rem;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu li {
  display: none;
}

.nav-menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav-menu li:last-child {
  padding-bottom: 1rem;
}

.nav-menu a {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  padding: 7px 10px;
}

#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

/*#Footer*/
#footer {
  width: 100%;
  position: static;
  bottom: 0;
  margin-top: 1em;
  padding-bottom: 0;
  background-color: #002a8f;
  color: #fff;
  -webkit-box-shadow: 0 -2px 5px #000;
          box-shadow: 0 -2px 5px #000;
}

#footer h2,
#footer a {
  padding: 10px;
  margin: 0;
  text-decoration: none;
}

#footer p {
  padding: 0;
  margin: 0;
}

#footer .sns-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
}

@media only screen and (min-width: 1024px) {
  /*#Top-Navigation-Bar*/
  nav .nav-toggle {
    display: none;
  }
  .nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 150px;
  }
  .nav-menu li {
    display: block;
  }
  .nav-menu li:last-child {
    padding-bottom: 0;
  }
  /*#Footer*/
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;
  }
  #footer .footer-logo {
    width: 180px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#section-main {
  min-height: 90vh;
  margin-top: 80px;
}

.bg-img {
  position: absolute;
  background: #333 url("/img/main.jpg");
  background-position: 45% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  z-index: -1;
}

.content-wrapper {
  padding: 0 50px;
}

.content-wrapper .content-title {
  padding-top: 260px;
  padding-bottom: 0;
  font-size: 42px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.aulas {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aulas li {
  padding: 10px 5px 0;
}

.aulas li .card {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px #000;
          box-shadow: 0px 3px 5px #000;
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.aulas li .card a {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
}

.aulas .salsa {
  background-image: url(/img/aulas-cards/salsa.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aulas .footwork {
  background-image: url(/img/aulas-cards/footwork.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aulas .kizomba {
  background-image: url(/img/aulas-cards/kizomba.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aulas .rueda {
  background-image: url(/img/aulas-cards/rueda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aulas .aulas-privadas {
  background-image: url(/img/aulas-cards/aulas-privadas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aulas .noivos {
  background-image: url(/img/aulas-cards/noivos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */