@import "../base";

.week-table{
    // background-image: url(/img/week-bg.jpg);
    // background-position: center;
    // background-repeat: repeat-y;
    // background-size: cover;
    // padding: 10px 0;
}
.daycard{
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px $shadows;
    background-color: rgba($second-color, $alpha: 0.8);
    .day-style{
        font-size: 24px;
        color: $font-color-light;
        background-color: rgba($base-color, $alpha: 0.9);
        margin-bottom: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .hour-style{
        font-size: 24px;
        color: $font-color-light;
        background-color: rgba($third-color, $alpha: 0.9);
    }
    .aula-style{
        font-size: 20px;
        font-family: "Maven Pro", sans-serif;
        font-weight: 500;
        text-shadow: 0px 0.5px 1px $shadows;
        height: 80px;
        line-height: 80px;
    }
}