#section-contact {
  padding: 0 10px;
  margin-bottom: 25px;
  //background-color: rgba($third-color, $alpha: 1)
}
.section-title-contact {
  //color: $font-color-light;
  //text-shadow: 2px 2px 5px $shadows;
}
.location {
  background-color: $second-color;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px $shadows;
  .location-text {
    font-size: 18px;
  }
  iframe {
    //height: 80%;
    margin: 10px;
    border-radius: 5px;
    //box-shadow: 0px 1px 5px $shadows;
  }
}
.contact-info {
  background-color: $second-color;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 5px $shadows;
  ul {
    @include reset-list;
    li {
      margin-bottom: 20px;
    }
    h4 {
      font-size: 24px;
      text-decoration: underline 0.5px;
    }
    p {
      font-family: $secondary-font;
      font-size: 18px;
      padding-top: 10px;
    }
    #phone {
      font-size: 20px;
    }
  }
  .sns-icons {
    a {
      padding: 0px 5px;
    }
  }
  #info-aulas-privadas{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
  }
}
